<h2>会員登録確認メールの再送信</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "再送信する" %>
    <p>会員登録確認用のリンクをEメールでお送りします。</p>
  </div>
<% end %>

<%= render "/users/shared/links" %>
