<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name 'name' %></th>
      <th><%= User.human_attribute_name 'email'%></th>
    </tr>
  </thead>
  <tbody>
    <% @administrators.each do |admin| %>
      <tr>
        <td><%= link_to admin.name, [:admin, admin] %></td>
        <td><%= admin.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @administrators %>