<div class="login-form">
  <h4>フルーツネット <br />Wi-Fiスポットログイン</h4>
  <div class: "control-group">
    <%= form_tag @authenticate_url, name: "wifi_authenticate", method: :post do %>
      <%= label_tag "username", "ユーザー名" %>
      <%= text_field_tag "username" %>

      <%= label_tag "password", "パスワード" %>
      <%= password_field_tag "password" %>

      <%= button_tag type: :submit, class:"btn btn-success" do %>
        <i class="icon-ok-circle icon-white"></i> フルーツネットWi-Fiを利用する
      <% end %>
    <% end %>
    ログインが正しくできない場合は、<br />
    ご利用登録後に通知されるログイン<br />
    情報を再度ご確認いただき、正しい<br />
    IDとパスワードをご入力ください。

    <h4>
      <%= link_to "WI-Fiスポットご利用登録はこちら", :new_user_registration, class:"btn btn-info btn-large"%>
    </h4>
  </div>
</div>