<h2>パスワードをお忘れですか？</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "パスワードのリセット方法を受け取る" %>
     <p>ご登録済みのメールアドレスに、パスワード再設定用のページへのリンクをEメールでお送りします。</p>
  </div>
<% end %>

<%= render "/users/shared/links" %>
